.scoreboard {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert {
    background-color: red;
    // border-left: 1rem solid pink;
    // border-right: 1rem solid pink;
    padding: 1rem;
    color: white;
    font-weight: bold;
    border-radius: 1.5rem;
}

.loading-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: #fff black #fff black;
        animation: loading-ring 1.2s linear infinite;
    }
}

.match-event {
    width: 50%;
    border-radius: 25px;
    padding: 20px 40px;
    margin: 20px;
    min-height: 2rem;
    display: flex;
    align-items: center;
    position: relative;
}

.home-match-event {
    @extend .match-event;
    background-color: lightgreen;
    float: left;
    text-align: left;
    flex-direction: row-reverse;
}

.away-match-event {
    @extend .match-event;
    background-color: pink;
    float: right;
    text-align: right;
}

.player-icon {
    position: absolute;
    top: -15px;
    background-color: white;
    border-radius: 50%;
    min-height: 3rem
}

.home-player-icon {
    @extend .player-icon;
    border: 10px solid pink;
    right: -10px;
}

.away-player-icon {
    @extend .player-icon;
    border: 10px solid lightgreen;
    left: -10px;
}

@keyframes loading-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}